<?xml version="1.0"?>
<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>
    <arg name="spawn_minilab_model"/>
    <node name="spawn_minilab_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -urdf -param /robot_description -model $(arg robot_name)"
     respawn="false" output="screen" />

   
	<include file="$(find minilab_simulation)/launch/minilab_state_publisher.launch" >
</include>

    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->
</launch>
